{% extends 'blog/base.html' %}
{% block content %}
{% load upvote_utils %}
<html>
    <body>
        <button class="btn btn-default"><a href="/tech/">Go Back</a></button>
        <img src="{{technology.img}}" />
        <p>{{ technology.title }}</p>
        {% for tutorial in tutorials %}
            {{ tutorial.websitename }}
            {% if tutorial|is_upvoted_by:request.user %}
                <a href="{% url 'tut_unupvote' pk=tutorial.pk %}">{{ tutorial.upvote }}</a>
            {% else %}
                <a href="{% url 'tut_upvote' pk=tutorial.pk %}">{{ tutorial.upvote }}</a>
            {% endif %}    
            <button class="btn btn-default"><a href="{{ tutorial.url }}">Visit Tutorial</a></button>
            <div class="row">
                {{ tutorial.type }}
                {{ tutorial.plan }}
                {{ tutorial.audience }}
            </div>        
            <p>Submited By {{ tutorial.users }}</p>
        {% endfor %}        

    </body>
</html>
{% endblock content %}